/* DarkMode.css */
:root {
  --background-color: #fbfbfb;
  --text-color: #000000;
}

[data-theme='dark'] {
  --background-color: #2d2b2b;
  --text-color: #890000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Add more styles as needed */
